.two-columns {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}